---
title: News
name: News
---


<% sitemap.resources.each do |r| %>
<% if r.path.include? "news/" %>
<div class="date">
  Date: <%= r.data[:date] %>
</div>
<div class="news_summary">
  <%= r.render({layout: false}) %>
  <p class="read_more"><%= link_to("Read more", r.path)%></p>
</div>
<% end %>
<% end %>
